{
  "plugins": [
    "transform-decorators-legacy",
    ["transform-class-properties", {spec: true}]
  ],
  "presets": [
    {
      "plugins": ["transform-runtime"]
    },
    {
      "passPerPreset": false,
      "presets": ["es2017", "react", "stage-0", "es2015"]
    }
  ]
}